.app {
  margin: 3em 0;
  text-align: center;
}

.app h1 {
  margin: 0.5em;
  font-size: 3em;
  line-height: 1.1;
}

.app .logo {
  height: 6em;
  padding: 1em;
  margin: 0 0.3em;
  cursor: pointer;
  border: none;
  border-radius: 0.5em;
  transition: border-color 0.3s;
}

.app .logo:hover {
  box-shadow: 0 0 0.5em 0 #1bec;
}
