.app {
  margin-top: 3em;
  text-align: center;
}

.app h1 {
  margin: 0.5em;
  font-size: 3em;
  line-height: 1.1;
}

.logo {
  height: 6em;
  padding: 1em;
  margin: 0 0.3em;
}

.counter {
  padding: 0.5em 1em;
  margin: 1em 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: #ccc4;
}

.logo,
.counter {
  cursor: pointer;
  border: none;
  border-radius: 0.5em;
  transition: border-color 0.3s;
}

.logo:hover,
.counter:hover {
  box-shadow: 0 0 0.5em 0 #1bec;
}
